#game-title {
    color: red;
    text-align: center;
}

#sidebar {
    height: 800px;
    width: 15%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 10px;
    border: 1px solid black;
    }
    
#sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    }
    
.body-text {
    margin-left: 15%;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    }

.tables {
        /* height: 200px; */
        width: 200px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        margin: 10px;
        margin-top: 20px;
        margin-left: 7px;
        line-height: 200px;
    }   

    .restaurant {
        display: inline-block;
        width: 85%;
        text-align: center;
    }

.seating-1, .seating-2 {
    width: 1050px;
    height: 350px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
 }

 .root {
     display: inline;
 }

 #table-1, #table-2, #table-3, #table-4, #table-5, #table-6, #table-7, #table-8 {
    width: 22%;
    height: 350px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    margin: 2px;
 }

 p {
     display: inline-block;
     font-size: 30px;
 }
 
 h4 {
     margin: 1px;
 }

 .bar {
    height: 250px;
    width: 100px;
    background-color: #bbb;
    float: left;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 50px;
 }

 #bar-title {
     font-size: 50px;
     margin-top: 35px;
 }

 #register-title {
    font-size: 25px;
    margin-top: 10px;
}

#user-info ol {
    font-size: 16px;
    padding: 8px;
    margin-left: 31px;
}

#login-form {
    font-size: 16px;
}

  #user-info h3 {
      margin: 10px;
  }

  #user-info {
      justify-content: center;
      align-items: center;
  }